# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Python environment
.env

# PlatformIO
.pio/

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# macOS
.DS_Store

# ESP-IDF managed dependencies
managed_components/
