# Python
.venv/
venv/
__pycache__/
*.py[cod]

# Python environment
.env

# PlatformIO
.pio/

# VS Code
.vscode/

# Logs
*.log

# Temporary files
*.tmp

# macOS
.DS_Store

# ESP-IDF managed dependencies
managed_components/
firmware/*/sdkconfig.esp32-s3-devkitc-1

# N-BaIoT raw dataset
data/n_baiot/raw/